section {
  display: grid;
  grid-template-columns: 55rem 1fr;
  background-color: #f5e3d2;
}

img {
  max-width: 100%;
  height: 100vh;
  padding-right: 5rem;
}

h1 {
  color: black;
  font-size: 3rem;
  margin: 10rem 2rem;
  text-align: center;
}

h1:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

p {
  font-size: 2rem;
  color: black;
  margin: 5rem 2rem;
}

form {
  padding-right: 3rem;
}

label {
  font-size: 1.2rem;
  opacity: 0.6;
  margin-left: 1rem;
  display: block;
}

input {
  border-radius: 0.4rem;
  height: 2.5rem;
  width: 35rem;
  border: none;
  margin: 1rem 1rem;
  padding: 2rem 2rem;
}

input:focus {
  border: 4px solid #d47f35;
}

.left {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 4rem;
}

button {
  font-size: 2rem;
  background-color: #d47f35;
  color: white;
  padding: 1rem 1rem;
  border-radius: 2rem;
  border: none;
  margin: 3rem 1rem;
  width: 30rem;
}

button:hover {
  cursor: pointer;
  background-color: #a65a19;
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

h2 {
  font-size: 2rem;
  margin: 3rem 2rem;
}
